apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - "https://github.com/ionos-cloud/cluster-api-provider-proxmox/releases/download/v0.7.5/infrastructure-components.yaml" # capmox manual installation by crd as cant use operator
  - providers.yaml # the providers required for the cluster to spawn except capmox since its unsupported by operator because of missing metadata (capi core, talos, ipam ...)
  - clu-01.yaml # the talos cluster to spawn
  - clusterresourceset.yaml # deploys cilium using a clusterresourceset which is the ugliest component of this entire repo
patches:
  - path: patch-capmox-deployment.yaml # see comments there
    target:
      kind: Deployment
      name: capmox-controller-manager
      namespace: capmox-system
  - target: # try to create providers first so cluster resources can be created after
      group: operator.cluster.x-k8s.io
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "-42069"

generators:
  - capmox-generator.yaml # capmox proxmox credentials
# vars:
#   - name: VIP_IP
#     objref:
#       kind: TalosControlPlane
#       apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
#       name: phonkd-test-01-control-plane
#     fieldref:
#       fieldpath: spec.controlPlaneConfig.controlplane.configPatches.0.value.interfaces.0.vip.ip
