apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - "https://github.com/ionos-cloud/cluster-api-provider-proxmox/releases/download/v0.7.5/infrastructure-components.yaml"
  - providers.yaml
  - clu-01.yaml
#namespace: default

patches:
  - path: patch-capmox-deployment.yaml #because of bug in default manifest
    target:
      kind: Deployment
      name: capmox-controller-manager
      namespace: capmox-system

generators:
  - capmox-generator.yaml
