apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - "https://github.com/ionos-cloud/cluster-api-provider-proxmox/releases/download/v0.7.5/infrastructure-components.yaml"
  - providers.yaml
  - clu-01.yaml

#namespace: default

patches:
  - path: patch-capmox-deployment.yaml #because of bug in default manifest
    target:
      kind: Deployment
      name: capmox-controller-manager
      namespace: capmox-system
  - target:
      group: operator.cluster.x-k8s.io
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "-42069"

generators:
  - capmox-generator.yaml

vars:
  - name: VIP_IP
    objref:
      kind: TalosControlPlane
      apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
      name: phonkd-test-01-control-plane
    fieldref:
      fieldpath: spec.controlPlaneConfig.controlplane.configPatches.0.value.interfaces.0.vip.ip

helmCharts:
  - name: cilium
    version: "1.18.4"
    repo: "https://helm.cilium.io/"
    releaseName: cilium
    namespace: kube-system
    valuesInline:
      kubeProxyReplacement: "false"
      securityContext:
        capabilities:
          ciliumAgent:
            - CHOWN
            - KILL
            - NET_ADMIN
            - NET_RAW
            - IPC_LOCK
            - SYS_ADMIN
            - SYS_RESOURCE
            - DAC_OVERRIDE
            - FOWNER
            - SETGID
            - SETUID
          cleanCiliumState:
            - NET_ADMIN
            - SYS_ADMIN
            - SYS_RESOURCE
      cgroup:
        automount:
          enabled: false
        hostRoot: /sys/fs/cgroup
      k8sServiceHost: "$(VIP_IP)"
