apiVersion: apps/v1
kind: Deployment
metadata:
  name: capmox-controller-manager
  namespace: capmox-system
spec:
  template:
    spec:
      containers:
        - name: manager
          args:
            - --leader-elect
            - --feature-gates=ClusterTopology=false
            - --diagnostics-address=:8443
            - --insecure-diagnostics=false
            - --v=0
