**result
**.DS_Store
**clusterctl.yaml
**cilium
!modules/spawner/sel-001/clusters/clu01/cilium/
**.secret.yaml
**flake.lock
**work-setup.nix

# Terraform / OpenTofu
**.terraform/
**.terraform.lock.hcl
**terraform.tfstate
**terraform.tfstate.backup
**terraform.tfvars
**.tfvars
