apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - ../template-cluster.yaml

namePrefix: phonkd-dev-
namespace: phonkd-dev
patches:
  - target:
      kind: ProxmoxCluster
    patch: |
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
      kind: ProxmoxCluster
      metadata:
        name: kek
      spec:
        controlPlaneEndpoint:
          host: 192.168.1.226
        ipv4Config:
          addresses:
            - 192.168.1.227-192.168.1.237
  - target:
      kind: TalosControlPlane
    patch: |
      apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
      kind: TalosControlPlane
      metadata:
        name: irrelevantname
      spec:
        controlPlaneConfig:
          controlplane:
            configPatches:
              - op: add
                path: /machine/network/interfaces/0/vip/ip
                value: 192.168.1.226
