apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../template-cluster.yaml

namePrefix: phonkd-dev-

configurations:
  - ../kustomize-config.yaml

patches:
  - path: patch.yaml
    target:
      kind: ProxmoxCluster
      name: cluster
  - path: patch.yaml
    target:
      kind: TalosControlPlane
      name: control-plane
