apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: proxmox-csi-plugin
    repo: oci://ghcr.io/sergelogvinov/charts
    version: 0.5.3
    releaseName: proxmox-csi-plugin
    namespace: csi-proxmox
    valuesFile: ./values.yaml
resources:
  - namespace.yaml
