server:
  service:
    type: NodePort
    nodePortHttp: 30080
  insecure: true

configs:
  cm:
    kustomize.buildOptions: "--enable-alpha-plugins --enable-exec"
    exec.enabled: "true"
  params:
    server.insecure: "true"

# repoServer:
#   volumes:
#     - name: custom-tools
#       emptyDir: {}
#     - name: sops-age
#       secret:
#         secretName: argocd-sops-age-key

#   env:
#     - name: XDG_CONFIG_HOME
#       value: /home/argocd/.config
#     - name: SOPS_AGE_KEY_FILE
#       value: /home/argocd/.config/sops/age/keys.txt

#   initContainers:
#     - name: install-ksops
#       image: viaductoss/ksops:v4.3.3
#       command:
#         - /bin/sh
#         - -c
#       args:
#         - |
#           echo "Installing KSOPS...";
#           cp ksops /custom-tools/;
#           cp kustomize /custom-tools/;
#           echo "Done.";
#       volumeMounts:
#         - name: custom-tools
#           mountPath: /custom-tools

#   volumeMounts:
#     # Override kustomize binary
#     - name: custom-tools
#       mountPath: /usr/local/bin/kustomize
#       subPath: kustomize

#     # KSOPS binary
#     - name: custom-tools
#       mountPath: /usr/local/bin/ksops
#       subPath: ksops

#     # AGE keys
#     - name: sops-age
#       mountPath: /home/argocd/.config/sops/age
