apiVersion: addons.cluster.x-k8s.io/v1alpha1
kind: HelmChartProxy
metadata:
  name: cilium
spec:
  clusterSelector:
    # Target workload clusters with specific labels.
    #  matchLabels:
    #    ciliumCNI: enabled
    # Target all workload clusters.
    matchLabels: {}
  releaseName: cilium
  repoURL: https://helm.cilium.io
  chartName: cilium
  namespace: kube-system
  valuesTemplate: |
    ipam:
      mode: kubernetes

    routingMode: native
    autoDirectNodeRoutes: true
    ipv4NativeRoutingCIDR: "10.244.0.0/16"

    kubeProxyReplacement: true
    k8sServiceHost: {{ .Cluster.spec.controlPlaneEndpoint.host }}
    k8sServicePort: {{ .Cluster.spec.controlPlaneEndpoint.port }}

    # API server endpoint for bootstrap connectivity
    # Must point to the control plane VIP before CNI is ready
    # Set in cluster-specific values file (e.g., values-clu01.yaml) ok

    securityContext:
      privileged: true
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE

    cgroup:
      autoMount:
        enabled: false
      hostRoot: /sys/fs/cgroup
  # TODO: pay attention to newlines at the end that get inserted by templates
